.container {
  width: 100%;
  text-align: center;
  display: flex;
  background-color: #696969;
  position: relative;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.containerChild {
  width: 15%;
  background: #ccc8c8;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  font-size: 120%;
  font-weight: 400;
  color: #2b24ad;
  cursor: pointer;
}
