.container {
  width: 100%;
  text-align: center;
  display: flex;
  background-color: #696969;
  position: relative;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.formDiv {
  position: relative;
  width: 50%;
  height: 65%;
  padding: 50px 20px 20px 20px;
  background: white;
  border: 1p;
  border: 3px solid #948787;
  border-radius: 10px;
}

.form-rows {
  width: 100%;
  margin-bottom: 10px;
}

.labels {
  width: 40%;
  text-align: end;
  display: inline-block;
}

.fields {
  width: 60%;
  text-align: initial;
  display: inline-block;
}

.input-fields {
  height: 30px;
  width: 70%;
  padding: 5px;
  margin: 10px;
  border: 1px solid #9c9b9b;
  border-radius: 5px;
}

label,
.btn {
  font-size: 18px;
  font-weight: 400;
  color: #2b24ad;
}

::placeholder {
  font-size: 12px;
  color: dimgray;
  opacity: 1;
}

input,
select,
select option {
  color: dimgray;
  font-size: 12px;
  font-weight: 400;
}

.btn {
  padding: 5px;
  margin-top: 15px;
  width: 90px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

input:focus,
select:focus {
  color: dimgray;
  outline: none !important;
  border: 1px solid #807575;
  border-radius: 5px;
  box-shadow: 0 0 10px #719ece;
}
